<div class="flex flex-col w-full p-10 h-screen justify-between items-center">
  <div class="w-1/3 relative aspect-square">
    <img ngSrc="assets/new-logo-glow.png" priority alt="Stern Screenplays Logo" fill>
  </div>
  <h1 class="mb-10">A sentence that explains our approach to making scripts</h1>
  <div class="scroll-indicator" [style.opacity]="showScrollIndicator() ? 1 : 0">
    <p-message severity="secondary" variant="simple" size="large">{{'home-page.scroll-info-message' | translate}}</p-message>
    <i style="font-size: 1rem" class="pi pi-arrow-down animate-bounce"></i>
  </div>
</div>
