<div class="container">
    <div class="wrapper">
        @for (image of imageElements(); track image.id; let i = $index) {
            <div class="box">
                <div class="inner-box" [ngClass]="activeElementIndex() === i ? 'active' : null">
                    <div [style.pointer-events]="activeElementIndex() === i ? null : 'none'" class="image-container" (mouseenter)="onMouseOverImage(true)" (mouseleave)="onMouseOverImage(false)">
                        <img [ngSrc]="image.path" [alt]="image.titleReference" fill>
                        <div class="text-container">
                            <h4>{{image.titleReference | translate}}</h4>
                            <h6>{{image.descriptionReference | translate}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


