<div class="carousel-container">
  <p-button (onClick)="cycleLeft()" size="large" icon="pi pi-angle-left" [rounded]="true" [text]="true" />
  <div class="wrapper">
    @for (image of imageElements(); track image.id; let i = $index) {
      @let isActive = activeElementIndex() === i;
      @let imagePosition = labelImagePosition();
      <div class="box">
        <div class="inner-box" [ngClass]="imagePosition ? imagePosition.get(i) : null">
          <div [style.pointer-events]="isActive ? null : 'none'" class="image-container" (mouseenter)="onMouseOverImage(true)" (mouseleave)="onMouseOverImage(false)">
            <img [ngSrc]="image.path" [alt]="image.titleReference" fill>
            <h1 class="z-50 row-span-2 place-self-center">{{ image.titleReference | translate }}</h1>
            <p class="z-50">{{ image.descriptionReference | translate }}</p>
          </div>
        </div>
      </div>
    }
  </div>
  <p-button (onClick)="cycleRight()" size="large" icon="pi pi-angle-right" [rounded]="true" [text]="true" />
</div>


