* {
  box-sizing: border-box;
}

.carousel-container {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 7%;
  background: linear-gradient(to left, var(--p-surface-950), transparent);
  z-index: 1;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 7%;
  background: linear-gradient(to right, var(--p-surface-950), transparent);
  z-index: 1;
}

@keyframes fad-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes from-left {
  from { opacity: 0; transform: scale(85%, 85%) translateX(-10%); }
  to { opacity: 1; }
}

@keyframes from-right {
  from { opacity: 0; transform: scale(85%, 85%) translateX(10%); }
  to { opacity: 1; }
}

.box {
  height: 100%;
}

.box:nth-child(2) > * {
  animation: fad-in 0.5s, from-left 0.5s;
}

.box:nth-child(3) > * {
  animation: fad-in 0.5s;
}

.box:nth-child(4) > * {
  animation: fad-in 0.5s, from-right 0.5s;
}

.inner-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  object-fit: cover;
  transition: transform ease-in-out 0.5s;
  transform: scale(85%, 85%);
  gap: 1rem;
  margin-top: 20%;
  margin-bottom: 20%;
}

.image-container {
  position: relative;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0.5rem;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.image-container img {
  filter: brightness(100%) blur(0px);
  transition: filter 0.3s ease-in-out;
}

.title {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  font-weight: 600;
}

.previous {
}

.active {
  transform: scale(100%, 100%) translateY(-20%);
}

.next {
}
