* {
  box-sizing: border-box;
}

.carousel-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 7%;
    background: linear-gradient(to left, var(--p-surface-950), transparent);
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 7%;
    background: linear-gradient(to right, var(--p-surface-950), transparent);
    z-index: 1;
  }
}

.box {
  width: 33%;
  flex-shrink: 0;
}

.inner-box {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  transition: transform ease-in-out 0.5s;
  transform: scale(85%, 85%);
  gap: 1rem;
  margin-top: 20%;
}

.image-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 0.75rem;

  img {
    filter: brightness(100%) blur(0px);
    mask-image: linear-gradient(to bottom, var(--p-surface-950) 70%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, var(--p-surface-950) 70%, transparent);
    transition: filter 0.3s ease-in-out;
  }

  &:hover img {
    filter: brightness(50%) blur(2px);
  }
}

.description-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.title {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.previous {
}

.active {
  transform: scale(100%, 100%) translateY(-20%);
}

.next {
}
