<app-splash-screen (finished)="onSplashScreenFinished()"></app-splash-screen>
<div class="flex justify-center p-10">
    <div class="w-[100rem]">
        <p-carousel [value]="imageMetadata" [numVisible]="3" [numScroll]="1" [circular]="true"
                    [autoplayInterval]="500010000">
            <ng-template let-product pTemplate="item">
                <div class="flex flex-col items-center justify-center gap-5">
                    <div class="flex rounded-xl overflow-hidden items-center justify-center">
                        <img height="500" width="500" [ngSrc]="product.path" [alt]="product.titleReference | translate"/>
                    </div>
                    <h2 class="font-medium">{{ product.titleReference | translate }}</h2>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>