//@import url('../fonts/butler/stylesheet.css');
//@import url('../fonts/butler-stencil/stylesheet.css');
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Butler', serif;
  font-size: 16px;
}

p {
  line-height: 1.5;
}

h6 {
  font-size: 1.25rem;
  letter-spacing: -0.005em;
}

h5 {
  font-size: 1.5625rem;
  letter-spacing: -0.008em;
}

h4 {
  font-size: 1.95rem;
  letter-spacing: -0.012em;
  line-height: 1.3;
}

h3 {
  font-size: 2.44rem;
  letter-spacing: -0.015em;
  line-height: 1.2;
}

h2 {
  font-size: 3.05rem;
  letter-spacing: -0.018em;
  line-height: 1.1;
}

h1 {
  font-size: 3.815rem;
  letter-spacing: -0.021em;
  line-height: 1;
}